* {
  border-radius: 0 !important;
}

.jumbotron {
  background: url(cover.png);
  height:200px;
  position: absolute;
  width: 87%;
  right: 0;
  height: 500px;
}

.card1 {
  position: absolute;
  top: 600px;
  right: 900px;
}

.card2 {
  position: absolute;
  top: 600px;
  right: 500px;
}

.card3 {
  position: absolute;
  top: 600px;
  right: 100px;
}

.navbar {
  background-color: #000000;
  border-bottom:1px solid #ff6a00;
  height: 75px;
  position: absolute;
  z-index: 1;
  width: 100%;
}

.navbar a {
  color: white;
}

#sidebar-wrapper {
  text-align: center;
  width: 13%;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}




.sidebar-nav {
  width: 150px;
  list-style: none;
  margin-top: 75px;
}

.info {
  top: 350px;
  position: absolute;
  width: 600px;
}

.schedule {
  position: absolute;
  right: 20px;
  top: 75px;
}

.schedule img{
  width: 1300px;
  height: auto;
}

.info p {
  font-size: 30px;
  color: black;
  font-weight: bold;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #fff;
  text-decoration: none;
  display: inline-block; 
}

